<div id="<%= dom_id salesperson %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= salesperson.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= salesperson.status %>
  </p>

</div>
