<section class="bg-white/60 px-4 py-10 rounded-lg text-center">
    <h1 class="font-optima font-bold uppercase text-4xl text-green-900 my-4">Thank you!</h1>
    <p class="text-lg font-medium">Our Salesperson will get in touch with you.</p>
</section>