<h1>Account Setting</h1>
<p>Bank: <%= @affiliate.bank%></p>
<p>Account Name: <%= @affiliate.account_name%></p>
<p>Account No: <%= @affiliate.account_no%></p>

<%= link_to 'Edit', affiliate_account_setting_edit_path, class: 'link' %>