<section class="px-10 py-10">
    <div class="flex justify-between text-2xl mb-20">
        <h1>My Account</h1>
    </div>
    <h2>Transaction History:</h2>
    <div class="flex bg-gray-300 p-2 my-2">
        <p class="flex-1">Transaction Type</p>
        <p class="flex-1">Amount</p>
        <p class="flex-1">Date</p>
    </div>


    <div class="flex bg-green-500 p-2 my-2">
        <p class="flex-1 flex gap-1 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#fff" viewBox="0 0 256 256"><path d="M231.39,132.94A8,8,0,0,0,224,128H184V48a16,16,0,0,0-16-16H88A16,16,0,0,0,72,48v80H32a8,8,0,0,0-5.66,13.66l96,96a8,8,0,0,0,11.32,0l96-96A8,8,0,0,0,231.39,132.94ZM128,220.69,51.31,144H80a8,8,0,0,0,8-8V48h80v88a8,8,0,0,0,8,8h28.69Z"></path></svg>
            Payout
        </p>
        <p class="flex-1"><%= current_affiliate.payout %></p>
        <p class="flex-1"><%= current_affiliate.last_payment %></p>
    </div>

</section>