<div class="flex justify-between items-end px-10 items-center">
    <div>
        <h1 class="font-medium text-xl uppercase">Affiliate Link</h1>
        <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="32" height="32" fill="#000000" viewBox="0 0 256 256"><path d="M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,16,.45A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z"></path></svg>
        <p class="text-lg inline-block">http://<%= "#{request.host_with_port}/sales/invest/form/#{current_affiliate.ref_code}" %></p>
    </div>

    <div class="text-end">
        <h1 class="font-medium text-xl uppercase">Referral Code</h1>
        <p class="text-2xl"><%= current_affiliate.ref_code %></p>
    </div>
</div>

<div class="flex gap-5 mt-10 justify-center">
    <div class="bg-green-500 min-w-40 text-center py-4 px-12 rounded-lg">
        <p class="uppercase">Closed Sales</p>
        <p class="font-bold text-5xl"><%= @paid %></p>
    </div>
    <div class="bg-yellow-500 min-w-40 text-center py-4 px-12 rounded-lg">
        <p class="uppercase">pending</p>
        <p class="font-bold text-5xl"><%= @pending %></p>
    </div>
</div>